@font-face {
	font-family: 'SEASRN';
	src: url('./SEASRN.eot');
	src: local('SEASRN'), url('./SEASRN.woff') format('woff'), url('./SEASRN.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31243">Text with this font applied</p> */
.fontsforweb_fontid_31243 {
	font-family: 'SEASRN' !important;
}

/* Font downloaded from FontsForWeb.com */