body {
    background: url("../images/marble.jpg");
}
.container{
    border: 8px solid brown;
    height: 760px;
    background-color: black;
}

.title {
    color: silver;
    font-size: 50px;
    display: flex; 
    justify-content: center;
    font-family: SEASRN;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(24, 24, 24);
}

#gameButton {
    background-color: rgb(41, 41, 41);
    color: silver;
    border: 1px solid silver;
    float: left;
    position: absolute;
}

#paintingsCollected {
    background-color: rgb(41, 41, 41);
    color: silver;
    border: 1px solid silver;
    position: absolute;
    float: left;
    margin-left: 120px;
}

.curtain {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    position: absolute;
    margin-left: 8%;
    border-radius: 15px;
}

.paintings {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#paintId {
    z-index: 3;
    position: absolute;
    max-width: 300px;
    max-height: 220px;
    margin: 28% 0 0 2.5%;
}

.priceBox { 
    text-align: center;
    float: left;
    position: absolute;
    background-color: ivory; 
    width: 250px;
    height:100px;
    padding: 20px;
    font-size: 24px;
    font-display: bold;
    font-family: CrazyCrazy;
    margin: 15% 0% 0% 63%;
    opacity: .8;
    border: 8px solid brown;
    font-weight: bold;
}

.bid { 
    text-align: center;
    float: left;
    position: absolute;
    background-color: wheat; 
    width: 200px;
    height:75px;
    padding: 20px;
    font-size: 20px;
    font-display: bold;
    font-family: CrazyCrazy;
    margin: 23% 0% 0% 65.5%;
    opacity: .8;
    border: 2px solid black;
}

.critics {
    display: flex;
    justify-content: center;
    position: relative;
    background:silver; 
    border: 2px solid red;
    margin-top: 420px;
    width: 700px;
    float:right;
    margin-right:10%;

}

.critic {
    margin: 10px 20px 10px 20px;
    background-color: black;
    height: 130px;
    width: 130px;
}

.directions{
    float:left;
    width: 250px;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    height: 550px;
    overflow: auto;
    background-color: black;
}

.collected{
    float:left;
    width: 250px;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    height: 550px;
    overflow: auto;
    background-color: black;
}

p {
    color: silver;
}

.win-lose {
    background-color: black;
    border:2px solid red;
    position: absolute;
    margin-left: 66%;
    height: 100px;
    width:200px;
    color: silver;
    font-family: CrazyCrazy;
    font-size: 20px;
    padding: 10px;
}


html {
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    color: #666666;
    text-align: center;
  }
  
  .popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
  }
  
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
    z-index: 5;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
    z-index: 5;
  }
  
button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
  }
  
button:hover {
    border: 1px solid black;
    background: black;
    color: #ffffff;
  }

#c1 {
    background-image: url("../images/crit1-1.png");
}
#c1:hover {
    background-image: url("../images/crit1-2.png");
}
#c2 {
    background-image: url("../images/crit2-1.png");
}
#c2:hover {
    background-image: url("../images/crit2-2.png");
}
#c3 {
    background-image: url("../images/crit3-1.png");
}
#c3:hover {
    background-image: url("../images/crit3-2.png");
}
#c4 {
    background-image: url("../images/crit4-1.png");
}
#c4:hover {
    background-image: url("../images/crit4-2.png");
}





@media only screen and (max-width: 786px){

.title {
    text-align: center;
}

.curtain { 
position: relative;
display: initial;
margin-top: 100px;
margin-left: 45px;
width: 440px;
}

.critics {
position: relative;

}

.win-lose {
    background-color: black;
    border:2px solid red;
    position: absolute;
    margin-left: 0%;
    position: absolute;
    height: 70px;
    width:500px;
    text-align: center;
    color: silver;
    font-family: CrazyCrazy;
    font-size: 16px;
    padding: 5px;
}

.container{
    height: 900px;
}

.directions{
    width: 500px;
    z-index: 6;
    margin-top: 20px;
    height: 525px;
}

.collected{
    width: 500px;
    z-index: 6;
    margin-top: 20px;
    height: 550px;
}

#paintId {
    z-index: 3;
    position: absolute;
    max-width: 250px;
    max-height: 200px;
    margin: 0 0 0 0;
}
.priceBox { 
margin: 0;
font-size: 20px;
height: 60px;
padding: 5px;
width: 300px;
}

.bid { 
margin: 12px 0 0 305px;
font-size: 18px;
height: 40px;
padding: 3px;
}

.critics {
    flex: none;
    position: absolute;
    background:silver; 
    border: 2px solid red;
    margin-top: 65px;
    width: 520px;
    float:right;
    margin-right:0;
    margin-left: -12px;

}
.critic {
    margin: 2px 2px 2px 2px;
    background-color: black;
    height: 110px;
    width: 110px;
}
}
